[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "spacemacs"]
	path = .emacs.d.spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs-doom"]
	path = .emacs.d.doom
	url = https://github.com/hlissner/.emacs.d
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/syl20bnr/spacemacs.git
